<html ng-app="myApp">
		<head>
			<title>First Angular</title>
			<script type="text/javascript" src="lib/angular.min.js"></script>
		</head>
		<body>
			<h2>{{'Angular'+'World'}}</h2>
			
				<h3>Http Call</h3>
				<script type="text/javascript" src="js/weather-data-calculator.js"></script>
				<div class="HttpCall" ng-controller="firstcontroller">
						<div class = "places" ng-repeat="j in weather_places track by $index">
						<header>{{j}}</header>
							<li ng-repeat="x in weather" ng-if="j==x.weather_stn">
										{{x.datetext + "-"+x.rain_mm+" - "+x.weather_stn+" - "+j+" - "+x.searched_place_nm}}
							</li>
						</div>
						
						
				</div>
		</body>
</html>
